@import url(https://fonts.googleapis.com/css?family=Roboto+Flex:regular);

* {
  box-sizing: border-box !important;
  padding: 0;
  margin: 0;
  font-family: 'Roboto Flex';
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #101010;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
